hd-8200954/admin/imbera.wsdl

<?xml version="1.0" encoding="UTF-8"?>
	<wsdl:definitions name="http___imbera_com_Materiales" targetNamespace="http://fiori.efemsa.com/"
			xmlns:tns="http://fiori.efemsa.com/"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			xmlns:webM="http://www.webMethods.com/noNamespace/"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
			xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
			xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		
<xsd:schema
            targetNamespace="http://www.webMethods.com/noNamespace/"
            xmlns="http://www.webMethods.com/noNamespace/"
            xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" 
            xmlns:ST1="http://www.webMethods.com/noNamespace/" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
	<xsd:complexType name="ConsumoTecInput">
		<xsd:sequence>
			<xsd:element name="T_ENTRADA" type="ST1:T_ENTRADA" minOccurs="1" maxOccurs="1"/>
			<xsd:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:anyAttribute processContents="lax"/>
	</xsd:complexType>
	<xsd:element name="ConsumoTecInput" type="ConsumoTecInput" />
	<xsd:complexType name="T_ENTRADA">
		<xsd:sequence>
			<xsd:element name="P_TELEC" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="CENTRO" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="CLIENTE" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="DATA" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="O_TELEC" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="TECNICO" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="MATERIAL" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="CANTIDAD" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="UM" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="NF" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:anyAttribute processContents="lax"/>
	</xsd:complexType>
	<xsd:element name="T_ENTRADA" type="T_ENTRADA" />
	<xsd:complexType name="ConsumoTecOutput">
		<xsd:sequence>
			<xsd:element name="T_MENSAGEM" type="ST1:T_MENSAGEM" minOccurs="1" maxOccurs="1"/>
			<xsd:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:anyAttribute processContents="lax"/>
	</xsd:complexType>
	<xsd:element name="ConsumoTecOutput" type="ConsumoTecOutput" />
	<xsd:complexType name="T_MENSAGEM">
		<xsd:sequence>
			<xsd:element name="TIPO" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="MENSAGEM" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:anyAttribute processContents="lax"/>
	</xsd:complexType>
	<xsd:element name="T_MENSAGEM" type="T_MENSAGEM" />
</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="ConsumoTec">
		<wsdl:part name="T_ENTRADA" element="webM:T_ENTRADA"/>
	</wsdl:message>
	
	<wsdl:message name="ConsumoTecOutput">
		<wsdl:part name="T_MENSAGEM" element="webM:T_MENSAGEM"/>
	</wsdl:message>
	<wsdl:portType name="http___imbera_com_MaterialesPortType">
		<wsdl:operation name="ConsumoTec">
			<wsdl:input message="tns:ConsumoTec"/>
			<wsdl:output message="tns:ConsumoTecOutput"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="http___imbera_com_MaterialesBinding" type="tns:http___imbera_com_MaterialesPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="ConsumoTec">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body namespace="http://imbera.com/Materiales" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://imbera.com/Materiales" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="http___imbera_com_MaterialesService">
		<wsdl:port name="http___imbera_com_MaterialesPort0" binding="tns:http___imbera_com_MaterialesBinding">
			<soap:address location="http://fiori.efemsa.com:7084/soap/default"/>
		</wsdl:port>
	</wsdl:service>
	</wsdl:definitions>

